# OS
.DS_Store

# Python bytecode
__pycache__/
*.py[cod]

# Virtual envs & local configs
.venv/
venv/
.env
.env.*

# Notebooks
.ipynb_checkpoints/

# Training artifacts
runs/
checkpoints/
*.pth
*.pt
*.ckpt
